<% @artist.songs.build %>
<%= form_for(@artist) do |artist_form| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</strong>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= artist_form.label :name, 'Name:' %><br />
    <%= artist_form.text_field :name %>
  </div>

  <h2>Songs</h2>
  <%= render :partial => 'songs/form',
             :locals => {:form => artist_form} %>

  <div class="form-actions">
    <%= artist_form.submit 'Save Artist', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                artists_path, :class => 'btn' %>
  </div>
<% end %>
