<div class="page-header">
  <h1><%= @artist.name %></h1>
</div>

<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<% if @artist.songs.any? %>
  <h2>Songs:</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>YouTube</th>
        <th>Soundcloud</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody>
        <% @artist.songs.each do |song| %>
            <tr>
              <th><%= song.id %></th>
              <td><%= song.title %></td>
              <td>
              	<%= link_to song.youtube, song.youtube, :target => '_blank' unless song.youtube.blank? %>
              </td>
              <td>
              	<%= link_to song.soundcloud, song.soundcloud, :target => '_blank' unless song.soundcloud.blank? %>
              </td>
              <td><%= song.votes %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<div class="form-actions">
	<%= link_to 'Back', artists_path, :class => 'btn' %>
	<%= link_to 'Edit', edit_artist_path(@artist), :class => 'btn' %>
</div>