<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>YouTube</th>
      <th>Soundcloud</th>
    </tr>
  </thead>
  <tbody>
    <%= form.fields_for :songs do |song_form| %>
      <tr>
        <td>
          <%= link_to "Remove", '#', :class => 'remove_song btn btn-small btn-danger' %>
        </td>
        <td>
          <%= song_form.label :title, 'Title:' %>
          <%= song_form.text_field :title, :class => 'title' %>
        </td>
        <td>
          <%= song_form.label :youtube, 'YouTube:' %>
          <%= song_form.text_field :youtube, :class => 'youtube' %>
        </td>
        <td>
          <%= song_form.label :soundcloud, 'Soundcloud:' %>
          <%= song_form.text_field :soundcloud, :class => 'soundcloud' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />