<!DOCTYPE html>
<html>
<head>
  <title>ZenChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">ZenChallenge</a>
      <ul class="nav">
        <li class="<%= 'active' if params[:controller] == 'home' %>">
          <a href="/">Home</a>
        </li>
        <li class="<%= 'active' if params[:controller] == 'artists' %>">
          <%= link_to "Admin", {:controller => 'artists'} %>
        </li>
      </ul>
    </div>
  </div>

  <div id="application">
    <%= yield %>
  </div>

  <div class="row">
    <div id="footer" class="span12">
      <hr />
      <p>Developed by <a href="http://www.linkedin.com/profile/view?id=118865371" target="_blank">Daniel Breves</a></p>
    </div>
  </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
